body {
	background-image:url(https://previews.123rf.com/images/pixelliebe/pixelliebe1505/pixelliebe150500126/40332412-italian-food-background-Stock-Photo.jpg);
	background-size:cover;
	width: 1000px;
	margin:0px auto;
	padding: 0px
}

.back {
	background-color:rgba(255,255,255,0.6);
}
	
nav {

list-style: none;
text-align: center;

}

nav li {
background-color:white;
display:inline-block;
padding: 0 50px 0 50px;
float:center;
border-radius: 5px;
}

nav li a 
{
display:block;
text-decoration:none;
color:brown;
}

article {
	width:1200px;
	float:right;
	display:80%;
}

#spaghetti {

position:right;
}

#ahspaghetti {
position:float;
}

#voedingswaarden {
list-style-type:none;
}
 
